.wrapper {
  display: flex;
  align-items: center;
  color: #fff;
}

.icon {
  margin-right: 0.75rem;
  background-color: transparent;
}

.title {
  color: #e7f5ff;
}

.description {
  color: #fff;
}
